<%= form_for(team) do |f| %>
  <% if team.errors.any? %>
    <%= render "form_error", form: team %>
  <% end %>

  <div class="form-group">
    <label>Team Name</label>
    <%= f.text_field :name, :class => "form-control", :id => "inputTeamName" %>
  </div>
  <div class="form-group">
    <label>Team Description</label>
    <%= f.text_area :description, :class => "form-control", :id => "inputTeamDescription", :size => "1x4" %>
  </div>
  <div class="form-group">
    <label>Enable Crosses?</label>
    <%= f.check_box :crosses_enabled %>
  </div>
  <div class="form-group">
    <label>Enable Ticks?</label>
    <%= f.check_box :ticks_enabled %>
  </div>
  <div class="form-group">
    <label>Enable QA?</label>
    <%= f.check_box :qa_enabled %>
  </div>
  <%= f.submit :Submit, :class => "btn btn-success"  %>
<% end %>
