<div class="row">
  <%= render "daterange" %><br />
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="text-center text-muted">
          Teams
        </h3>
      </div>
      <div class="panel-body">
        <%= render "teams" %>

        <%= button_to 'New Team', new_team_path, :class => "btn btn-default" %>

        <h3 class="text-center">Overview</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
            <li><a data-toggle="tab" href="#rats">Rats</a></li>
            <li><a data-toggle="tab" href="#ticks">Ticks</a></li>
          </ul>
          <div class="tab-content">
            <div id="overview" class="tab-pane active">
              <%= render 'overview' %>
            </div>
            <div id="rats" class="tab-pane">
              <%= render "rats_overview" %>
            </div>
            <div id="ticks" class="tab-pane">
              <%= render "ticks_overview" %> 
            </div>
          </div>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
</div>
