<%= form_for(rat) do |f| %>
  <% if rat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rat.errors.count, "error") %> prohibited this rat from being saved:</h2>

      <ul>
      <% rat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :users_id %>
    <%= f.text_field :users_id %>
  </div>

  <div class="field">
    <%= f.label :longbreak %>
    <%= f.check_box :longbreak %>
  </div>

  <div class="field">
    <%= f.label :latebreak %>
    <%= f.check_box :latebreak %>
  </div>

  <div class="field">
    <%= f.label :offtask %>
    <%= f.check_box :offtask %>
  </div>

  <div class="field">
    <%= f.label :other %>
    <%= f.text_field :other %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
