<p id="notice"><%= notice %></p>

<h1>Rats</h1>

<table>
  <thead>
    <tr>
      <th>Users</th>
      <th>Longbreak</th>
      <th>Latebreak</th>
      <th>Offtask</th>
      <th>Other</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rats.each do |rat| %>
      <tr>
        <td><%= rat.users %></td>
        <td><%= rat.longbreak %></td>
        <td><%= rat.latebreak %></td>
        <td><%= rat.offtask %></td>
        <td><%= rat.other %></td>
        <td><%= link_to 'Show', rat %></td>
        <td><%= link_to 'Edit', edit_rat_path(rat) %></td>
        <td><%= link_to 'Destroy', rat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rat', new_rat_path %>
