<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @rat.users %>
</p>

<p>
  <strong>Longbreak:</strong>
  <%= @rat.longbreak %>
</p>

<p>
  <strong>Latebreak:</strong>
  <%= @rat.latebreak %>
</p>

<p>
  <strong>Offtask:</strong>
  <%= @rat.offtask %>
</p>

<p>
  <strong>Other:</strong>
  <%= @rat.other %>
</p>

<%= link_to 'Edit', edit_rat_path(@rat) %> |
<%= link_to 'Back', rats_path %>
