<div class="row">
  <div class="col-md-8">
    <%= form_for(@tick) do |f| %>
      <% if @tick.errors.any? %>
        <%= render "form_error", form: @tick %>
      <% end %>
      <%= f.hidden_field :req_delete, :value => true %>
      <div class="form-group">
        <label for="inputDescription">
          <%= f.label "Reason" %>
        </label>
        <%= f.text_area :req_reason, :class => "form-control", :id => "inputDescription", :size => "1x4" %>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit :Submit, :class => "btn btn-success"  %>
        </div>
      </div>
    <% end %>
  </div>
</div>
