<% user = User.find(notification.creator) %>
<% if Ticket.exists?(notification.item) %>
  <% ticket = Ticket.find(notification.item) %>
<% end %>

<div class="media">
  <!-- <a href="#" class="pull-left"><img alt="Bootstrap Media Preview" src="http://lorempixel.com/64/64/" class="media-object" /></a> -->
  <%= image_tag("ticket.png", :alt => "ticket", :class => "pull-left") %>
    <div class="media-body">
      <h4 class="media-heading">
        <%= user.name %> <%= notification.message %>
      </h4>
      <% if Ticket.exists?(notification.item) %>
        <%= link_to "Show", {:controller => "qas", :action => "show", :id => ticket.agent_id, :date_from => ticket.date.beginning_of_month.to_s, :date_to => ticket.date.end_of_month.to_s, :highlight_qa => notification.item}, :class => "btn btn-sm btn-default" %>
      <% else %>
        <p>This Ticket has since been removed</p>
      <% end %>
      <% if not notification.read? %>
        <%= link_to "Mark Read", :method => "put", :action => "mark_read", :id => notification.id %>
      <% end %>
    </div>
</div>
