<% if @audits.count >= 1 %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Model</th>
      <th>Action</th>
      <th>Agent</th>
      <th>Time</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @audits.where('versions.created_at BETWEEN ? AND ?', @date_from, @date_to).each do |audit| %>
      <tr>
        <% if audit.whodunnit? %>
          <td><%= User.exists?(audit.whodunnit) ? User.find(audit.whodunnit).username : "User Deleted" %></td>
        <% else %>
          <td><span class="label label-danger">No user defined!</span></td>
        <% end %>
        <td><%= audit.item_type %></td>
        <% if audit.event == "destroy" %>
          <td><span class="label label-warning"><%= audit.event %></span></td>
        <% else %>
          <td><%= audit.event %></td>
        <% end %>
        <td>
          <% if audit.item_type == "Rat" and audit.event == "create" %>
            <% if Rat.exists?(audit.item_id) %>
              <%  agent_id = Rat.find(audit.item_id).agent_id %>
              <%= "#{Agent.find(agent_id).name} " "#{Agent.find(agent_id).last_name}" %>
            <% end %>
          <% elsif audit.item_type == "Tick" and audit.event == "create" %>
            <% if Tick.exists?(audit.item_id) %>
              <% agent_id = Tick.find(audit.item_id).agent_id %>
              <%= "#{Agent.find(agent_id).name} " "#{Agent.find(agent_id).last_name}" %>
            <% end %>
          <% end %>
        </td>
        <td><%= audit.created_at.to_s(:short) %></td>
        <td>
          <% if audit.item_type == "Rat" and audit.event == "create" %>
            <% if Rat.exists?(audit.item_id) %>
              <%= link_to "Show", {:controller => "agents", :action => "show", :id => Rat.find(audit.item_id).agent_id, :date_from => audit.created_at - 3.days, :date_to => audit.created_at + 3.days, :highlight_id => audit.item_id} %>
            <% end %>
          <% elsif audit.item_type == "Tick" and audit.event == "create" %>
            <% if Tick.exists?(audit.item_id) %>
              <%= link_to "Show", {:controller => "agents", :action => "show", :id => Tick.find(audit.item_id).agent_id, :date_from => audit.created_at - 3.days, :date_to => audit.created_at + 3.days, :highlight_id => audit.item_id} %>
            <% end %>
          <% end %>
        </td>
          </tr>
    <% end %>
  </tbody>
</table>

<br>

<% else %>
  <%= render "warning", message: "No audit logs! Check the model is working. Using gem => papertrail" %>
<% end %>
