<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= render "daterange" %>
      <h3 class="text-center text-muted">
        Resource and Timekeeping System
      </h3>
      <% if @current_user.agent_id? %>
        <div class="row">
          <%= render "agents" %>
          <%= render "team" %>
        </div>
      <% else %>
      <div class="row">
        <div class="col-md-4">
          <%= render "placeholder" %>
        </div>
        <div class="col-md-4">
          <%= render "placeholder" %>
        </div>
        <div class="col-md-4">
          <%= render "placeholder" %>
        </div>
        <div class="col-md-4">
          <%= render "placeholder" %>
        </div>
        <div class="col-md-4">
          <%= render "placeholder" %>
        </div>
        <div class="col-md-4">
          <%= render "placeholder" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
