<div class="row">
  <div class="col-md-12">
    <%= form_for user, :html => {:class => "form-horizontal", :role => "form"} do |f| %>
      <% if user.errors.any? %>
        <%= render "form_error", form: user %>
      <% end %>

      <div class="form-group">
        <label for="inputFirstName" class="col-sm-2 control-label">
          <%= f.label "First Name" %>
        </label>
        <div class="col-sm-10">
          <%= f.text_field :first_name, :class => "form-control", :id => "inputFirstName" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputLastName" class="col-sm-2 control-label">
          <%= f.label "Last Name" %>
        </label>
        <div class="col-sm-10">
          <%= f.text_field :last_name, :class => "form-control", :id => "inputLastName" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputUserName" class="col-sm-2 control-label">
          <%= f.label "Username" %>
        </label>
        <div class="col-sm-10">
          <%= f.text_field :username, :class => "form-control", :id => "inputUserName" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputeMail" class="col-sm-2 control-label">
          <%= f.label "eMail" %>
        </label>
        <div class="col-sm-10">
          <%= f.email_field :email, :class => "form-control", :id => "inputeMail" %>
        </div>
      </div>

      <% if @current_user.admin? or @current_user.junior_admin? %>

      <div class="form-group">
        <label for="inputRole" class="col-sm-2 control-label">
          <%= f.label "User Role" %>
        </label>
        <div class="col-sm-10">
          <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, {}, {:class => "form-control", :id => "inputrole"}) %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAgentID" class="col-sm-2 control-label">
          <%= f.label "Agent Reference" %>
        </label>
        <div class="col-sm-10">
          <%= f.collection_select :agent_id, @agents, :id, :full_name, {:include_blank => true}, {:class => "form-control", :id => "inputAgentID"} %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputTeamID" class="col-sm-2 control-label">
          <%= f.label "User Team" %>
        </label>
        <div class="col-sm-10">
          <%= f.select(:team_id, @teams.map {|team| [team.name, team.id]}, {:include_blank => true}, {:class => "form-control", :id => "inputTeamID"}) %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputDisabled" class="col-sm-2 control-label">
          <%= f.label "User Disabled" %>
        </label>
        <div class="col-sm-10">
          <%= f.check_box :disabled, :class => "form_control", :id => "inputDisabled" %>
        </div>
      </div>


      <% end %>

      <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">
          Password
        </label>
        <div class="col-sm-10">
          <%= f.password_field :password, :class => "form-control", :id => "inputPassword" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit :Submit, :class => "btn btn-success pull-right"  %>
        </div>
      </div>
  </div>
</div>
<% end %>

