<%= f.fields_for :rats, @user.rats.new do |u| %>

<form role="form">
  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= u.check_box :longbreak %> Long Break
      </label>
    </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= u.check_box :latebreak %> Late Break
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= u.check_box :offtask %> Off Task
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="Notes">
      Notes
    </label>
    <%= u.text_field :other, :class => "form-control", :id => "Notes" %>
  </div>
</form>
<% end %>
