<%= f.fields_for :rats, @user.rats.new do |u| %>

  <div class="field">
    <%= u.label :longbreak %>
    <%= u.check_box :longbreak %>
  </div>

  <div class="field">
    <%= u.label :latebreak %>
    <%= u.check_box :latebreak %>
  </div>

  <div class="field">
    <%= u.label :offtask %>
    <%= u.check_box :offtask %>
  </div>

  <div class="field">
    <%= u.label :other %>
    <%= u.text_field :other %>
  </div>
<% end %>
