<%= f.fields_for :ticks, @user.ticks.new do |u| %>

  <div class="field">
    <%= u.label "Above and Beyond" %>
    <%= u.check_box :ab %>
  </div>

  <div class="field">
    <%= u.label "Stayed Late" %>
    <%= u.check_box :late %>
  </div>

  <div class="field">
    <%= u.label "Dynamic" %>
    <%= u.check_box :dynamic %>
  </div>

  <div class="field">
    <%= u.label "Used Initiative" %>
    <%= u.check_box :initiative %>
  </div>

  <div class="field">
    <%= u.label "Notes" %>
    <%= u.text_field :notes %>
  </div>

<% end %>
