<%= f.fields_for :ticks, @user.ticks.new do |u| %>

<form role="form">
  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= u.check_box :ab %> Above and Beyond
      </label>
    </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= u.check_box :late %> Stayed Late
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= u.check_box :dynamic %> Dynamic
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= u.check_box :initiative %> Used Initiative
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="Notes">
      Notes
    </label>
    <%= u.text_field :notes, :class => "form-control", :id => "Notes" %>
  </div>
</form>
<% end %>
