<% if @users.count >= 1 %>
<table class="table table-hover" data-sort-name="Name" data-sort-order="desc">
  <thead>
    <tr>
      <th>Name</th>
      <th>User Name</th>
      <th>eMail</th>
      <th>Agent</th>
      <th>Team</th>
      <th>Role</th>
      <th>Status</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <% if user.disabled? %>
      <tr class="danger">
    <% else %>
      <tr>
    <% end %>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>
          <% if User.exists?(user.agent_id) %>
            <%= user.agent_id? ? "#{user.agent.name} #{user.agent.last_name}" : "No Agent Defined" %></td>
          <% else %>
            User Deleted
          <% end %>
        </td>
        <td><%= user.team_id? ? user.team.name : "No Team Defined" %></td>
        <td>
          <% if user.role == "admin" %>
            <span class="label label-danger"><%= user.role.titleize %></span>
          <% elsif user.role == "junior_admin" %>
            <span class="label label-warning"><%= user.role.titleize %></span>
          <% elsif user.role == "team_leader" %>
            <span class="label label-primary"><%= user.role.titleize %></span>
          <% elsif user.role == "supervisor" %>
            <span class="label label-info"><%= user.role.titleize %></span>
          <% elsif user.role == "user" %>
            <span class="label label-default"><%= user.role.titleize %></span>
          <% else %>
            ERROR - NO ROLE ASSIGNED
          <% end %>
        </td>
        <td><%= user.disabled? ? "Disabled" : "Active" %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show', {:action => "show", :id => user.id }, :class => "btn btn-sm btn-default" %>
            <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Edit User', edit_user_path(user) %>
              </li>
              <li>
              <%= link_to 'Show User', {:action => "show", :id => user.id } %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
            </ul>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<% else %>

<h4>You have no users configured</h4>
<p>Click below to add some users. This should not have been possible!</p>
<% end %>
