<h3>Resource and Timekeeping System</h3> 

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <% @teams.each do |dep| %>
      <li class="<%= 'active' if params[:team_id] == dep.team_id %>"><a href="#<%= dep.team_id %>" data-toggle="tab"><%= dep.team.name %></a></li>
    <% end %>  
  </ul>
</div>

<% @teams.each do |dep| %>
  <div class="tab-content">
    <div class="<%= if (params[:team_id] == dep.team_id || !params[:team_id])then 'tab-pane active'  else 'tab-pane' end%>" id="<%= dep.team_id %>">
      <%= render 'users' %>
    </div>
  </div>
<% end %>

<%# render "users" %>

<%= button_to 'New User', new_user_path, :class => "btn btn-default" %>
