<h3>Resource and Timekeeping System</h3> 

<% if @teamcount == 0 %>
  <%= render 'warning', :message => "There are no teams configured, this will cause errors" %>
<% end %>

<% if @teams.count >= 1 %>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#all">All</a></li>
  <% @teams.each do |dep| %>
    <li><a data-toggle="tab" href="#<%= dep.team_id %>"><%= dep.team.name %></a></li>
    <li><a data-toggle="tab" href="#graph-<%= dep.team_id %>"><%= dep.team.name %> Graphs</a></li>
  <% end %>
  </ul>
  <div class="tab-content">
    <div id="all" class="tab-pane active">
        <%= render 'users', users: @users %>
    </div>
    <% @teams.each do |pane| %>
      <div id="<%= pane.team_id %>" class="tab-pane fade">
        <!-- TODO: Get this in the controller! -->
        <%= render 'users', users: User.where(team_id: pane.team_id) %>
        <%# render 'users', users: @byteam %>
      </div>
      <div id="graph-<%= pane.team_id %>" class="tab-pane fade">
        <%= render 'graphs', graph: User.where(team_id: pane.team_id), team_name: pane.team.name %>
      </div>
    <% end %>
  </div>


<% else %>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">All</a></li>
  </ul>
  <div id="All" class="tab-pane fade in active">
    <%= render 'users', users: @users %>
  </div>

<% end %>

<%= button_to 'New User', new_user_path, :class => "btn btn-default" %>
