<h3>Resource and Timekeeping System</h3> 

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Name</th>
      <th>Team</th>
      <th>RaTS</th>
      <th>TiCK</th>
      <th colspan="2">Actions</th>
      <th>Edit User</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="active">
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.team %></td>
        <% if user.rats.count >= 1 %>
          <td><span class="label label-danger"><%= user.rats.count %></span></td>
        <% else %>
          <td></td>
        <% end %>
        <% if user.ticks.count >= 1 %>
          <td><span class="label label-success"><%= user.ticks.count %></span></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= button_to("New RaT", {:action => 'rat', :id => user.id}, :class => "btn btn-sm btn-warning") %></td>
        <td><%= button_to("New TiCK", {:action => 'tick', :id => user.id}, :class => "btn btn-sm btn-success") %></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-sm btn-default">
              Action
            </button>
            <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Edit User', edit_user_path(user) %>
              </li>
              <li>
                <%= link_to 'Show RaTs / Ticks', user %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to 'Delete User', user, method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New User', new_user_path, :class => "btn btn-default" %>
