<p id="notice"><%= notice %></p>

<h1>Users</h1> 

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Name</th>
      <th>Team</th>
      <th>RaTS</th>
      <th>TiCK</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= link_to user.last_name, user %></td>
        <td><%= user.team %></td>
        <td><%= link_to user.rats.count, user %></td>
        <td><%= link_to user.ticks.count, user %></td>
        <td><%= link_to("New Rat", {:action => 'rat', :id => user.id}) %></td>
        <td><%= link_to("New TiCK", {:action => 'tick', :id => user.id}) %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete User', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
