<div class="panel panel-default">
  <div class="panel-heading">
    <h3>User: <%= @user.name %></h3>
  </div>
  <div class="panel-body">
    <strong>Username:   </strong><%= @user.username %><br />
    <strong>First Name: </strong><%= @user.first_name %><br />
    <strong>Last Name:  </strong><%= @user.last_name %><br />
    <strong>eMail:      </strong><%= @user.email %><br />
    <strong>Role:       </strong><%= @user.role.titleize %><br />
    <strong>Agent:      </strong><%= @user.agent_id? ? "#{@user.agents.name} #{@user.agents.last_name}" : "No Agent Defined" %><br />
    <strong>Team:       </strong><%= @user.team_id? ? @user.team.name : "No Team Defined" %><br />
    <strong>Status:     </strong><%= @user.disabled? ? "Disabled" : "Active" %><br />
  </div>
  <div class="panel-footer">
    <%= render "back" %>
  </div>
</div>
