<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<h3>RaTs</h3>
<table>
  <th>Long Break</th>
  <th>Late Break</th>
  <th>Off Task</th>
  <th>Other</th>
  <th>Date</th>
  <th>Actions</th>

<% @user.rats.sorted.each do |rat| %>
  <tr>
    <td><%= rat.longbreak %></td>
    <td><%= rat.latebreak %></td>
    <td><%= rat.offtask %></td>
    <td><%= rat.other %></td>
    <td><%= rat.created_at %></td>
    <td><%= link_to "Delete", user_rat_path(@user, rat), data: {:confirm => "Are you sure?"}, :method => :delete %></th>
  </tr>
<% end %>
</table>

<h3>TiCKs</h3>
<table>
  <th>Above and Beyond</th>
  <th>Stayed Late</th>
  <th>Dynamic</th>
  <th>Initiative</th>
  <th>Notes</th>
  <th>Date</th>
  <th>Actions</th>

<% @user.ticks.sorted.each do |tick| %>
  <tr>
    <td><%= tick.ab %></td>
    <td><%= tick.late %></td>
    <td><%= tick.dynamic %></td>
    <td><%= tick.initiative %></td>
    <td><%= tick.notes %></td>
    <td><%= tick.created_at %></td>
    <td><%= link_to "Delete", user_tick_path(@user, tick), data: {:confirm => "Are you sure?"}, :method => "delete" %></th>
  </tr>
<% end %>
</table>
