<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Add Tick for <%= @user.name %> <%= @user.last_name %></h3>
  </div>
  <div class="panel-body">
    <% if @tick_enabled.enabled %>
      <%= render 'tick_new', user: @user %>
    <% else %>
      <%= render 'warning', message: "This is using the old setup without dynamic settings!" %>
      <%= render 'tick', user: @user %>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= render "back" %>
  </div>
</div>

