<%= form_for(setting) do |f| %>
  <% if setting.errors.any? %>
    <%= render "form_error", form: setting %>
  <% end %>
<div class="row">
  <div class="col-md-8">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputName">
          <%= f.label "Setting Name" %>
        </label>
          <%= f.text_field :name, :class => "form-control", :id => "inputName" %>
      </div>
      <div class="form-group">
        <label for="inputDescription">
          <%= f.label "Description" %>
        </label>
        <%= f.text_area :description, :class => "form-control", :id => "inputDescription", :size => "1x4" %>
      </div>
      <div class="form-group">
          <label for="inputEnabled">
            <%= f.label "Enabled" %>
          </label>
          <%= f.check_box :enabled, :class => "checkbox"  %>
      </div>
          <%= f.submit :Submit, :class => "btn btn-success"  %>
    </form>
  </div>
</div>
<% end %>
