<div class="row">
  <div class="col-md-6">
    <%= form_for(user) do |f| %>
      <% if user.errors.any? %>
        <%= render "form_error", form: user %>
      <% end %>
      <div class="form-group">
        <label>Name</label>
        <%= f.text_field :name, :class => "form-control", :id => "inputFirstName" %>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <%= f.text_field :last_name, :class => "form-control", :id => "inputLastName" %>
      </div>
      <div class="form-group">
        <label>Custom ID</label>
        <%= f.text_field :customid, :class => "form-control", :id => "inputCustomID" %>
      </div>
      <div class="form-group">
        <label>Team</label>
        <%= f.select(:team_id, @teams.map {|p| [p.name, p.id]}, {}, {:class => "form-control", :id => "inputTeamNameModel" }) %>
      </div>
      <div class="form-group">
        <label>Disabled</label>
        <%= f.check_box :disabled, {}, {:class => "form-control", :id => "disabled"} %>
      </div>
      <%= f.submit :Submit, :class => "btn btn-success" %>
    <% end %>

    </div>
  <div class="col-md-6">
  </div>
</div>
