<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <%= render "form_error", form: user %>
  <% end %>
<div class="row">
  <div class="col-md-6">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputFirstName" class="col-sm-2 control-label">
          <%= f.label "First Name" %>
        </label>
        <div class="col-sm-10">
          <%= f.text_field :name, :class => "form-control", :id => "inputFirstName" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputLastName" class="col-sm-2 control-label">
          <%= f.label "Last Name" %>
        </label>
        <div class="col-sm-10">
          <%= f.text_field :last_name, :class => "form-control", :id => "inputLastName" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputCustomID" class="col-sm-2 control-label">
          <%= f.label "Custom ID" %>
        </label>
        <div class="col-sm-10">
          <%= f.text_field :customid, :class => "form-control", :id => "inputCustomID" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputTeamNameModel" class="col-sm-2 control-label">
          <%= f.label "Team" %>
        </label>
        <div class="col-sm-10">
          <%= f.select(:team_id, @teams.map {|p| [p.name, p.id]}, {}, {:class => "form-control", :id => "inputTeamNameModel" }) %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit :Submit, :class => "btn btn-success pull-right"  %> 
        </div>
      </div>
    </form>
<% end %>

  </div>
    <div class="col-md-6">
  </div>
</div>
