<%= f.fields_for :rats, @user.rats.new do |u| %>

  <div class="row">
    <div class="col-md-6">
      <form class="form-horizontal" role="form">
          <% @rat_types.each do |t| %>
            <div class="form-group">
              <%= u.label :rat_type_id, t.name %>
              <%= u.radio_button :rat_type_id, t.id %>
              <a id="modal-<%= t.id %>" href="#modal-container-<%= t.id %>" data-toggle="modal"><span class="glyphicon glyphicon-info-sign"></span></a>
              <%= render(:partial => "modal", :locals => {:t => t, :model => "rat"}) %>
            </div>
          <% end %>
        <div class="form-group">
          <label for="Notes">
            Notes
          </label>
        <%= u.text_area :notes, :class => "form-control", :id => "Notes", :size => "1x4" %>
        </div>
    </div>
  </div>

<% end %>
