<h3 class="text-center text-muted">Ticks</h3>
  <table class="table table-hover table-condensed table-bordered table-responsive">
    <thead>
      <tr>
      <% @tick_types.each do |type| %>
        <th><%= type.name %></th>
      <% end %>
        <th>Notes</th>
        <th>Reason</th>
        <th>Date</th>
        <% if policy(Agent).actions? %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>

    <% @user.ticks.sorted.where('ticks.created_at BETWEEN ? AND ?', @date_from, @date_to).each do |tick| %>
      <% if params[:highlight_tick] == "#{ tick.id }" %>
        <tr class="info">
      <% elsif tick.req_delete? %>
        <tr class="danger">
      <% else %>
        <tr>
      <% end %>
      <% @tick_types.sorted.each do |type| %>
        <% if tick.tick_type_id == type.id %>
          <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
      <td><%= tick.notes %></td>
      <td><%= tick.req_reason %></td>
      <td><%= tick.created_at.to_s(:short) %></td>
      <% if policy(Agent).actions? %>
      <td>
          <div class="btn-group">
            <!-- <button type="button" class="btn btn-xs btn-default">Action</button> -->
            <button type="button" data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle">
              Action
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            <li>
            <% unless tick.req_delete? %>
              <% unless policy(Tick).destroy? %>
                <%= link_to("Request Deletion", {:controller => "ticks", :action => "edit", :id => tick.id}, :class => "dropdown-item") %>
              <% end %>
              <% else %>
                <%= link_to("Remove Request", {:controller => "ticks", :action => "remove_req", :id => tick.id}, :class => "dropdown-item") %>
              <% end %>
            </li>
              <% if policy(Tick).destroy? %>
                <li class="divider"></li>
                <li>
                  <%= link_to "Delete", agent_tick_path(@user, tick), data: {:confirm => "Are you sure?"}, :class => "dropdown-item", :method => :delete %>
                </li>
              <% end %>
            </ul>
          </div>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
