<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Last Name</th>
      <th>Team</th>
      <th>Crosses</th>
      <th>Ticks</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
  <% users.each do |user| %>
    <% if user.disabled? %>
      <tr class="danger" >
    <% else %>
      <tr>
    <% end %>
        <td><%= user.customid %></td>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td>
          <% if user.team_id.present? %>
            <%= user.team.name %></td>
        <% else %>
          Not Set
        <% end %>
        <% if user.crosses.where('crosses.created_at BETWEEN ? AND ?', @date_from, @date_to).count >= 1 %>
          <td><span class="label label-warning"><%= user.crosses.where('crosses.created_at BETWEEN ? AND ?', @date_from, @date_to).count %></span></td>
        <% else %>
          <td></td>
        <% end %>
        <% if user.ticks.where('ticks.created_at BETWEEN ? AND ?', @date_from, @date_to).count >= 1 %>
          <td><span class="label label-success"><%= user.ticks.where('ticks.created_at BETWEEN ? AND ?', @date_from, @date_to).count %></span></td>
        <% else %>
          <td></td>
        <% end %>
        <% unless user.disabled? %>
          <td><%= button_to("New Cross", {:action => 'cross', :id => user.id}, :class => "btn btn-sm btn-warning") %></td>
          <td><%= button_to("New Tick", {:action => 'tick', :id => user.id}, :class => "btn btn-sm btn-success") %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
        <td><%= link_to 'Show', {:action => "show", :id => user.id, :date_from => @date_from, :date_to => @date_to}, :class => "btn btn-sm btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
