<% if policy(ticket).edit_individual? %>

<div class="btn-group">
  <button type="button" data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle">
    Action
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <% if ticket.feedback? %>
        <%= link_to "Remove Feedback Request", ticket_clear_feedback_path(ticket, :date_from => @date_from, :date_to => @date_to), :class => "dropdown-item", :method => "post" %>
      <% elsif @current_user.agent_id == ticket.agent_id %>
        <%= link_to "Request Feedback", ticket_request_feedback_path(ticket, :date_from => @date_from, :date_to => @date_to), :class => "dropdown-item", :method => "post" %>
      <% end %>
      <%= link_to "Edit Ticket Reference", edit_ticket_path(ticket, :date_from => @date_from, :date_to => @date_to), :class => "dropdown-item" %>
      <% if ticket.qas.empty? or ticket.qas.nil? %>
        <%= link_to "Add Missing Scores", {:controller => "tickets", :action => "qa", :id => ticket.id, agent_id: ticket.agent_id, date_from: @date_from, date_to: @date_to}, :class => "dropdown-item" %>
    <% else %>
      <%= link_to "Edit Criteria Scores", edit_individual_qas_path(ticket, :date_from => @date_from, :date_to => @date_to), :class => "dropdown-item" %>
    <% end %>
    </li>
    <li class="divider"></li>
    <li>
    <%= link_to "Delete", ticket_path(ticket, :date_from => @date_from, :date_to => @date_to), data: {:confirm => "Are you sure?"}, :class => "dropdown-item", :method => :delete %>
    </li>
  </ul>
</div>

<% else %>
  <% unless ticket.feedback? %>
    <%= button_to "Request Feedback", ticket_request_feedback_path(ticket, :date_from => @date_from, :date_to => @date_to), :class => "btn btn-xs btn-default" %>
  <% else %>
    <%= button_to "Remove Feedback Request", ticket_clear_feedback_path(ticket, :date_from => @date_from, :date_to => @date_to), :class => "btn btn-xs btn-success" %>
  <% end %>

<% end %>
