<table class="table table-hover table-condensed table-bordered table-responsive">
  <thead>
    <tr>
      <th>Ticket Ref</th>
      <% @qa_settings.each do |type| %>
        <th><%= type.qa %> <a id="modal-<%= type.id %>" href="#modal-container-<%= type.id %>" data-toggle="modal"><span class="glyphicon glyphicon-info-sign"></span></a></th>
        <%= render "modal", t: type %>
      <% end %>
    </thead>

    <tr>
      <td><%= @ticket.ticket_reference %></td>
    <%= form_tag update_individual_qas_path, :method => :put do %>
      <% for qa in @qas %>
        <%= fields_for "qas[]", qa do |f| %>
          <%# qa.inspect %>
          <td><%= f.select :score, (0..qa.out_of), {}, {:class => "form-control"} %></td>
        <% end %>
      <% end %>
    </tr>
</table>
<p><%= submit_tag "Update", :class => "btn btn-success" %></p>
<% end %>
