<h3 class="text-center text-muted">QA</h3>

<% get_months.each do |mons| %>
<div class="row">
  <div class="col-sm-12">
<h4 class="text-center text-muted"><%= parse_months(mons.to_s).strftime("%B, %Y") %></h3>
  <table class="table table-hover table-condensed table-bordered table-responsive">
    <thead>
      <tr>
        <th> </th>
        <th>Ticket Ref</th>
      <% @qa_settings.each do |type| %>
        <th><%= type.qa %> <a id="modal-<%= type.id %>" href="#modal-container-<%= type.id %>" data-toggle="modal"><span class="glyphicon glyphicon-info-sign"></span></a></th>
        <%= render "modal", t: type %>
      <% end %>
        <th>Score</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <% date = parse_months(mons.to_s) %>
    <% @c = 0 %>
    <% @user.tickets.where('tickets.date BETWEEN ? AND ?', date, date.end_of_month).order('tickets.date asc').each_with_index do |ticket, index| %>
      <% if params[:highlight_qa] == "#{ ticket.id }" %>
        <tr class="info">
      <% else %>
        <tr>
      <% end %>
        <td><%= index+1 %>
        <td><%= ticket.ticket_reference %></td>
        <% @qa_settings.each do |criteria| %>
          <td>
          <% ticket.qas.each do |qa| %>
            <% if qa.qa_setting_id == criteria.id %>
              <%= qa.score %>
            <% end %>
          <% end %>
          </td>
        <% end %>
        <td><strong><%= number_with_precision((ticket.score.to_f), precision: 0) %> %</strong></td>
        <td><%= ticket.date.to_s(:short) %></td>
        <td><%= render 'button_group', ticket: ticket %></td>
      </tr>
      <% @c += 1 %>
    <% end %>
    <tr>
      <% tickets =  @user.tickets.where('tickets.date BETWEEN ? AND ?', date, date.end_of_month) %>
      <td>Total</td>
      <td></td>
      <% @qa_settings.each do |criteria| %>
        <% score = 0 %>
        <% tickets.each do |t| %>
          <% score += t.qas.where(:qa_setting_id => criteria.id).sum(:score) %>
        <% end %>
        <% total_available = criteria.out_of * @c %>
        <td><strong><%= ((score.to_f / total_available.to_f) * 100).round %> %</strong></td>
      <% end %>
      <td>
        <strong><%= (tickets.sum(:score).to_f / @c).round %> %</strong>
      </td>
      <% 2.times do |td| %>
        <td></td>
      <% end %>
  </table>
  </div>
</div>
<% end %>
