<% get_months.each do |mons| %>
  <%= get_months.inspect %>

<h3 class="text-center text-muted">QA</h3>
  <table class="table table-hover table-condensed table-bordered table-responsive">
    <thead>
      <tr>
        <th>Ticket Ref</th>
      <% @qa_settings.each do |type| %>
        <th><%= type.qa %> <a id="modal-<%= type.id %>" href="#modal-container-<%= type.id %>" data-toggle="modal"><span class="glyphicon glyphicon-info-sign"></span></a></th>
        <%= render "modal", t: type %>
      <% end %>
        <th>Notes</th>
        <th>Score</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>

    <% @user.tickets.where('tickets.date BETWEEN ? AND ?', @date_from, @date_to).each do |ticket| %>
      <% if params[:highlight_qa] == "#{ ticket.id }" %>
        <tr class="info">
      <% else %>
        <tr>
      <% end %>
          <td><%= ticket.ticket_reference %></td>
          <% @qa_settings.each do |criteria| %>
            <td>
            <% ticket.qas.each do |qa| %>
              <% if qa.qa_setting_id == criteria.id %>
                <%= qa.score %>
              <% end %>
            <% end %>
            </td>
          <% end %>
          <td><%= ticket.notes %></td>
          <td><%= ticket.score %></td>
          <td><%= ticket.date.to_s(:short) %></td>
          <td>Actions</td>
        </tr>
    <% end %>
  </table>
<% end %>
