<%= form_tag update_individual_qas_path, :method => :put do %>
  <% for qa in @qas %>
    <%= fields_for "qas[]", qa do |f| %>
      <h2><%= h qa.qa_setting_id %></h2>
      <%= qa.inspect %>
      <%= f.select :score, (0..qa.out_of) %>
    <% end %>
  <% end %>
  <p><%= submit_tag "Submit" %></p>
<% end %>
