<table class="table table-hover table-responsive" data-sort-name="Name" data-sort-order="desc">
  <thead>
    <tr>
      <th data-field="Custom ID" data-sortable="true">ID</th>
      <th data-field="Name"data-sortable="true">Name</th>
      <th data-field="Last Name" data-sortable="true">Last Name</th>
      <th data-field="Team" data-sortable="true">Team</th>
      <th data-field="Average" data-sortable="true">Average</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.customid %></td>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td>
          <% if user.team_id.present? %>
            <%= user.team.name %></td>
        <% else %>
          Not Set
        <% end %>
        <td>Place holder for running average</td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show', {:action => "show", :id => user.id, :date_from => @date_from, :date_to => @date_to}, :class => "btn btn-sm btn-default" %>
            <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Edit User', edit_agent_path(user) %>
              </li>
              <li>
              <%= link_to 'Show QA', {:action => "show", :id => user.id, :date_from => @date_from, :date_to => @date_to} %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to 'Delete User', user, method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
