<div class="panel panel-default">
  <div class="panel-heading">
  <% if @user.team_id.present? %>
    <h3>User: <%= @user.name %> <%= @user.last_name %></h3><h4>Team: <%= @user.team.name %></h4>
  <% else %>
    <h3>User: <%= @user.name %> <%= @user.last_name %></h3><h4>Team: Not Set</h4>
  <% end %>
  </div>
  <div class="panel-body">
    <%= render 'daterange' %>
    <%= render 'show', date_from: @date_from, date_to: @date_to %>
    <%= link_to 'New QA', root_path, :class => "btn btn-default" %>
  </div>
  <div class="panel-footer">
    <%= render 'back_local' %>
  </div>
</div>
