<h3 class="text-center text-muted">RaTs</h3>
  <table class="table table-hover table-condensed table-bordered table-responsive">
    <thead>
      <tr>
        <th>Ticket Ref</th>
      <% @qa_settings.each do |type| %>
        <th><%= type.name %></th>
      <% end %>
        <th>Notes</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>

    <% @user.tickets.qa_sorted.where('rats.created_at BETWEEN ? AND ?', @date_from, @date_to).each do |rat| %>
      <% if params[:highlight_qa] == "#{ rat.id }" %>
        <tr class="info">
      <% end %>
      <% @rat_types.sorted.each do |type| %>
        <% if rat.rat_type_id == type.id %>
          <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
      <td><%= rat.notes %></td>
      <td><%= rat.req_reason %></td>
      <td><%= rat.created_at.localtime.to_s(:short) %></td>
      <td>
          <div class="btn-group">
            <!-- <button type="button" class="btn btn-xs btn-default">Action</button> -->
            <button type="button" data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle">
              Action
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            <li>
            <% unless rat.req_delete? %>
              <% unless policy(Rat).destroy? %>
                <%= link_to("Request Deletion", {:controller => "rats", :action => "edit", :id => rat.id}, :class => "dropdown-item") %>
              <% end %>
              <% else %>
                <%= link_to("Remove Request", {:controller => "rats", :action => "remove_req", :id => rat.id}, :class => "dropdown-item") %>
              <% end %>
            </li>
              <% if policy(Rat).destroy? %>
                <li class="divider"></li>
                <li>
                  <%= link_to "Delete", agent_rat_path(@user, rat), data: {:confirm => "Are you sure?"}, :class => "dropdown-item", :method => :delete %>
                </li>
              <% end %>
            </ul>
          </div>
      </td>
    </tr>
    <% end %>
  </table>
