<div class="pull-right">
  <%= form_tag nil, :class => "form-inline", method: :get do %>
  <div class="input-daterange input-group" id="datepicker">
    <%= text_field_tag :date_from, @date_from, :class => "input-sm form-control", :name => "date_from", "data-behaviour" => "datepicker" %>
    <span class="input-group-addon">to</span>
    <%= text_field_tag :date_to, @date_to, :class => "input-sm form-control", :name => "date_to", "data-behaviour" => "datepicker" %>
  </div>
    <%= submit_tag "Search", :class => "btn btn-sm btn-default" %>
  <% end %>
</div>

<% if params[:controller] == 'agents' %>
  <%= render "agents_date_ranges" %>
<% elsif params[:controller] == 'qas' %>
  <%= render "qas_date_ranges" %>
<% end %>

<script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker({
    format: "yyyy-mm-dd",
    todayHighlight: true
  });
</script>
