<!DOCTYPE html>
<html>
  <head>
    <title>Stats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">
  <% if session[:user_id] %>
    <%= render(:partial => "application/nav_bar") %>
    <% if notice.blank? %>
      <%= puts "Notice var is blank: NOTICE => #{notice}" %>
    <% else %>
    <%= puts "NOTICE: #{notice}" %>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-dismissable alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            ×
          </button>
          <strong>Success: </strong><%= notice %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="col-md-1">
      </div>
    <div class="col-md-10">
  <% end %>
  <%= yield %>
</div>
  <div class="col-md-1">
  </div>
  </div>
  </body>
</html>
