<!DOCTYPE html>
<html>
  <head>
    <title>RaTs</title>
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="refresh" content="60" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
  </head>

  <body>
  <div class="container-fluid">
  <% if session[:user_id] %>
    <%= render(:partial => "application/nav_bar") %>
    <% if notice.present? %>
      <%= render "success", message: notice %>
    <% end %>
    <% if flash[:warning] %>
      <%= render "warning", message: flash[:warning] %>
    <% end %>
    <div class="row">
      <div class="col-md-1">
      </div>
    <div class="col-md-10">
  <% end %>
    <%= yield %>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  </body>
</html>
